/**
 * Comicker admin styles
 */

@font-face {
    font-family: 'comicker';
    src: url('../fnt/comicker.eot');
    src: url('../fnt/comicker.eot?#iefix') format('embedded-opentype'),
         url('../fnt/comicker.woff') format('woff'),
         url('../fnt/comicker.ttf') format('truetype'),
         url('../fnt/comicker.svg#comicker') format('svg');
    font-weight: normal;
    font-style: normal;
}

#adminmenu .menu-icon-comic div.wp-menu-image:before, #dashboard_right_now .comic-count a:before, #dashboard_right_now .comic-count span:before {
font-family: 'comicker';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}

#adminmenu .menu-icon-comic div.wp-menu-image:before {
	content:'\0041';
}

#comic-meta-box {
	visibility: hidden;
}

#comic-meta-box.postbox .inside .no-image {
    padding: 30px;
    background-color: #EEE;
    border: 2px dashed #CCC;
}

#comic-meta-box.postbox .inside .image {
    padding: 0px;
    background-color: #FFF;
    border: 2px dashed #CCC;
}

#comic-meta-box.postbox .inside .image .comic-page {
    display: block;
    margin: auto;
    width: 100%;
}

#comic-meta-box.postbox .inside .add-comic.button.show {
	position: relative;
    margin: 0 auto;
    text-align: center;
    display: block;
}

#comic-meta-box.postbox .inside .add-comic.button.hidden {
    position: relative;
    margin: 0;
    text-align: center;
    display: none;
    visibility: hidden;
}

